[submodule "emacs.d"]
	path = emacs.d
	url = https://github.com/makotow/emacs.d.git
[submodule "/Users/makoto/Dropbox/dotfiles/oh-my-zsh"]
	path = /Users/makoto/Dropbox/dotfiles/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
